*{
    font-family: 'Space Mono', monospace;
}

.intro{
    line-height: 1.4;
    margin: 10px;
}

ul{
    padding-left: 20px;
}

.blogs{
    line-height: 1.4;
    font-family: 'Space Mono', monospace;
    margin: 10px;
}
