.container {
    display: flex;
    flex-direction: column;
    text-align: center;

    span {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    img {
        width: 20px;
    }
}

.skillList {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    flex-wrap: wrap;
    row-gap: 40px;
    max-width: 26ch;
}

.badge {
    display: inline-flex;
    align-items: center;
    padding: 0.5em 1em;
    margin: 0.5em;
    border-radius: 10px; /* Rounded corners */
    /*background-color: #e0e0e0; !* Adjust as per design *!*/
    background-color: var(--skills-btn-color); /* Adjust as per design */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.badgetext {
    color: var(--btn-text-color);
    margin: 0;
}

hr {
    width: 100px;
    height: 1px;
    border: none;
    background-color: var(--text-color);
    margin: 30px auto;
}

@media (width >= 800px) {
    .skillList {
        max-width: fit-content;
        gap: 30px;

        p {
            font-size: 20px;
        }
    }

    hr {
        width: 300px;
    }
}
